<footer class="footer fixed-bottom">
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-8">
        <span class="footer-content font-weight-bold">
          <i class="fa fa-copyright ml-1 mr-2"></i> Copyright &#160;|&#160; Alto Rendimiento &#160;-&#160; {{year}}</span>
      </div>
      <div class="col-4">
        <div class="float-right">
          <span class="credits mr-3">Desarrollado por: </span>
          <a href="http://www.dazsoftware.com" target="blank">
            <img class="daz" src="assets/img/daz.png" alt="DAZ Software" title="Sitio Web - DAZ Software">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>