.card-bg {
    background-color: #FCFCFC;    
}

.media-body {
    margin-left: 30px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.description {
    font-size: 13px;
    margin-top: 5px;
    text-align: justify;
}