<div class="card card-bg mt-4">
  <div class="card-body pt-0">
    <div class="form-row">
      <div class="col-sm-2 text-center mt-3">
        <img class="rounded-circle" src="{{miembroStaffData.src}}" alt="{{miembroStaffData.nombre}}" title="{{miembroStaffData.nombre}}" height="100">
      </div>
      <div class="col-sm-10 mt-3">
        <div class="title">{{miembroStaffData.nombre}}</div>
        <div class="description">{{miembroStaffData.descripcion}}</div>
      </div>
    </div>
  </div>
</div>