<div class="container-fluid">
  <div class="row section">
    <div class="col-12 section-title">
      <i class="fa fa-cogs mr-3"></i>Nuestros Servicios</div>
  </div>
  <div class="card mt-4 p-3">
    Somos un equipo de profesionales especializados en Alto Rendimiento en el deporte, con un modelo aplicable a las necesidades
    de rendimiento de la Empresa. Contamos con trayectoria en seleccionados nacionales. Los temas específicos que nuestro
    equipo trabaja son los siguientes:
  </div>
  <ul class="list-group text-justify mt-4">
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Talleres de liderazgo , comunicación y trabajo en equipo.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Programas indoor y outdoor.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Estrategias de team building.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Detección de liderazgo y diagnostico de niveles de comunicación mediante el nuevo deporte denominado PaintBall.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Ejercicios antiestres de respiración , relajación y visualización, durante la jornada laboral.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Programa de establecimiento de metas en mandos altos y medios.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Coaching personalizado.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Programas de optimización de atención al cliente.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Programas de optimización de ventas.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Talleres de trabajo escénico y con máscaras.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Eventos de integración corporativa, día de la familia (family day), organización de torneos internos, recreación.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Soluciones deportivas para empresas.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Desarrollo de programas outdoor para incentivo en todo el país.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Asesorías a equipos o instituciones deportivas en conjunto con el Club Sevilla de España.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Entrenadores y deportistas de elite invitados.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Testimonios de futbolistas de elite que triunfan en Europa.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Análisis con imágenes de Selecciones de Rugby.
    </li>
    <li class="list-group-item">
      <i class="fa fa-caret-right mr-3"></i>Talleres de inteligencia emocional.
    </li>
  </ul>
</div>